<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/layout :: common_header(~{::title},~{})">
    <title>Hello Food!</title>
</head>
<!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
<body class="theme-invert">

    <th:block th:include="include/mainmenu :: body"></th:block>

    <!-- Main (Home) section -->
    <section class="section" id="head">
        <div class="container">

            <div class="row">
                <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">

                    <!-- Site Title, your name, HELLO msg, etc. -->
                    <h1 class="title">어서와 여긴 처음이지?</h1>
                    <h2 class="subtitle">맛집을 알려줘!</h2>

                    <!-- Short introductory (optional) -->
                    <h3 class="tagline">
                        당신이 생각하는 맛집을 알려주세요.<br>
                        당신에게 맞는 맛집을 알려줄게요!
                    </h3>

                    <!-- Nice place to describe your site in a sentence or two -->
                    <!-- <p><a href="/download/" class="btn btn-default btn-lg">Download template now</a></p> -->
                    <p><fb:login-button scope="public_profile,email" onlogin="checkLoginState();" /></p>
                </div> <!-- /col -->
            </div> <!-- /row -->

        </div>
    </section>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Load js libs only when the page is loaded. -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script th:src="@{/js/modernizr.custom.72241.js}"></script>
    <!-- Custom template scripts -->
    <script th:src="@{/js/magister.js}"></script>

    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '693002950883911',
                cookie     : true,
                xfbml      : true,
                version    : 'v2.8'
            });
            FB.AppEvents.logPageView();
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function checkLoginState() {
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
        }

        function statusChangeCallback(response) {
            FB.api("/me", function (r) {

                response.authResponse.name = r.name;
                var data = response.authResponse;

                if (response.status === 'connected') {
                    $.ajax({
                        type: 'get',
                        url: "/login/completeProcess" ,
                        data: data,
                        contentType: 'application/json',
                        dataType: "json",
                        scriptCharset: 'utf-8',
                        success: function(data) {
                            console.log("success");
                            window.location.href = '/login/complete';
                        },
                        error: function(data) {
                            console.log("error");
                            $("#status").html('ログインが失敗しました');
                        }
                    });
                } else if (response.status === 'not_authorized') {
                    $("#status").html('このサイトにログインしてください');
                } else {
                    $("#status").html('facebookにログインしてください');
                }
            });
        }
    </script>
</body>
</html>
